@import "colors";
@import "fonts";

.home {
  h1 {
    padding-top: 170px;
    margin: 0;
    font-size: 90px;
    font-family: "Asap-Medium";
  }

  p {
    font-size: 22px;
    font-family: "Asap-Medium";
    color: $text-gray;
  }


  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Asap-Medium";
    display: inline-block;
    width: 160px;
    line-height: 50px;
    text-align: center;
    border: solid 1px black;
    margin-top: 12px;

    &:first-of-type {
      margin-right: 20px;


      &:hover {
        background-color: #ffffff;
        border: solid 1px white;
      }

      &:focus {
        background-color: #ffffff;
        border: solid 1px white;
      }
    }
  }
}
