@import "fonts";

.home {
  h1 {
    padding-top: 170px;
    margin: 0;
    font-size: 90px;
    font-family: "Asap-Medium";
  }

  p {
    font-size: 22px;
    font-family: "Asap-Medium";
    color: #717171;
  }


  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Asap-Medium";
    display: inline-block;
    width: 160px;
    line-height: 50px;
    text-align: center;
    border: solid 1px black;
    margin-top: 12px;

    &:first-of-type {
      margin-right: 20px;


      &:hover {
        background-color: #ffffff;
        border: solid 1px white;
      }

      &:focus {
        background-color: #ffffff;
        border: solid 1px white;
      }
    }
  }
}

.about {
  margin-top: 9px;

  img {
    margin-top: 109px;
    margin-bottom: 124px;
  }

  h3 {
    font-size: 46px;
    font-family: "Asap-Bold";
    color: #717171;
    margin-top: 195px;

    &:before {
      content: "";
      width: 60px;
      height: 4px;
      background-color: #717171;
      display: block;
      position: relative;
      bottom: 10px;
      left: 3px;
    }

    p {
      font-size: 16px;
      font-family: "Asap-Regular";
      max-width: 475px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Asap-Medium";
    display: inline-block;
    width: 245px;
    line-height: 50px;
    text-align: center;
    border: solid 1px black;
    margin-top: 36px;

    &:hover {
      background-color: #ffffff;
      border: solid 1px white;
      -webkit-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
    }

    &:focus {
      background-color: #ffffff;
      border: solid 1px white;
      -webkit-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
    }

  }
}

.services {
  background-color: #f6f6f6;

  .container {
    padding: 142px 0 113px;

    h3 {
      font-size: 46px;
      font-family: "Asap-Bold";
      color: #6f6f6f;
      letter-spacing: 9px;

      &:before {
        content: "";
        width: 60px;
        height: 4px;
        display: block;
        background-color: #6f6f6f;
        position: relative;
        left: 47%;
        bottom: 10px;
      }
    }

    .services_icon {
      margin-top: 80px;

      div {
        height: 80px;
      }

      p {
        font-size: 24px;
        font-family: "Asap-Medium";
        color: #4d4d4d;
      }
    }
  }
}

.skills {
  padding-top: 130px;
  padding-bottom: 125px;

  h3 {
    font-size: 46px;
    font-family: "Asap-Bold";
    color: #717171;
    padding-bottom: 44px;
    letter-spacing: 7px;

    &:before {
      content: "";
      width: 60px;
      height: 4px;
      display: block;
      background-color: #6f6f6f;
      position: relative;
      left: 47%;
      bottom: 10px;
    }
  }
}

.portfolio {
  background-color: #f6f6f6;
  padding-top: 145px;
  padding-bottom: 120px;

  h3 {
    font-size: 46px;
    font-family: "Asap-Bold";
    color: #717171;
    letter-spacing: 7px;
    margin-bottom: 30px;

    &:before {
      content: "";
      width: 60px;
      height: 4px;
      display: block;
      background-color: #6f6f6f;
      position: relative;
      left: 47%;
      bottom: 10px;
    }
  }

  .photo {
    padding: 15px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Asap-Medium";
    display: inline-block;
    width: 160px;
    line-height: 50px;
    text-align: center;
    border: solid 1px black;
    margin-top: 30px;

    &:hover {
      background-color: #ffffff;
      border: solid 1px white;
      -webkit-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
    }

    &:focus {
      background-color: #ffffff;
      border: solid 1px white;
      -webkit-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
      box-shadow: 0px 5px 60px 3px rgba(0, 0, 0, 0.27);
    }
  }

}

.testimonial {
  padding: 150px 0 122px;

  .owl-carousel {
    border: solid 1px black;
    height: 350px;

    .row {
      height: 160px;
      margin-top: 82px;

      img {
        width: 159px;
        height: 159px;
      }

      h4 {
        font-size: 30px;
        font-family: "Asap-Medium";
        margin: 0;
      }

      .prof {
        font-size: 12px;
        font-family: "Asap-Italic";
        margin-bottom: 7px;
      }

      .comment {
        font-size: 16px;
        font-family: "Asap-Regular";
        color: #7a7a7a;
      }
    }
  }

  .owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          width: 13px;
          height: 13px;
          background: inherit;
          border-radius: 0;
          border: solid 1px black;
        }
      }
    }
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background: black;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 56px;
  }
}

.result {
  background-color: #f6f6f6;
  padding: 52px 0 65px;

  p {
    font-size: 30px;
    font-family: "Asap-Regular";
    margin: 15px 0 0;
  }

  h3 {
    font-size: 22px;
    font-family: "Asap-Medium";
  }
}